<div class="row">
  <div class="col-sm-12">

      <form [formGroup] = "recipeForm" (ngSubmit) ="onSubmit()">
        <div class="clearfix">
            <button type="button"
            class="btn btn-outline-primary float-right" (click)="onCancel()">Cancel</button>
        <button type="submit"
        class="btn btn-outline-success mr-3 float-right" [disabled] = "!recipeForm.valid">Save</button>
        </div>
        <fieldset class="form-group mt-3">
          <label for="name">Recipe name</label>
          <input type="text"
          class="form-control" id="name"
          formControlName="name">
          <small class="text-muted"
          *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched">
          This field is required</small>
        </fieldset>
        <fieldset class="form-group">
          <label for="imagepath">Image URL</label>
          <input type="text" class="form-control"
          id="imagepath" formControlName="imagepath" #imagePath>
        </fieldset>
        <div *ngIf = "imagePath.value">
          <img [src]="imagePath.value" alt="" class="img-fluid">
          <hr>
        </div>
        <fieldset class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control"
          id="description" rows="4"
          formControlName="description"></textarea>
          <small class="text-muted"
          *ngIf="!recipeForm.get('description').valid && recipeForm.get('description').touched">
          This field is required</small>
        </fieldset>
        <fieldset class="form-group" formArrayName ="ingredients">
            <p class="label label-default">Ingredients</p>
            <!-- for selecting indivdual formGroup -->
            <div class="row mb-2"
            *ngFor ="let ingredientsCtrl of recipeForm.get('ingredients').controls; let i = index"
            [formGroupName] = "i">
              <div class="col-sm-8">
                <input type="text"
                class="form-control" formControlName="name">
                <small class="text-muted"
                *ngIf="!ingredientsCtrl.get('name').valid && ingredientsCtrl.get('name').touched">
                Required</small>
              </div>
              <div class="col-sm-2">
                <input type="text"
                class="form-control" formControlName="amount">
                <small class="text-muted"
                *ngIf="!ingredientsCtrl.get('amount').valid && ingredientsCtrl.get('amount').touched">
                Required</small>
              </div>
              <div class="col-sm-2">
                <button type="button"
                class="btn btn-outline-danger float-right"
                (click) ="onDeleteIngredient(i)">Delete</button>
              </div>
            </div>
            <hr>
            <button type="button"
            class="btn btn-outline-primary" (click) ="onAddIngredient()">Add Ingredients</button>
        </fieldset>
      </form>

  </div>
</div>
