legend {
  margin: 0;
}

.recipe-detail {
  position: sticky;
  top: 88px;
  height: calc(100vh - 120px);
  overflow: auto;
  overflow-x: hidden;
}
.recipe-detail::-webkit-scrollbar {
  width: 0;
}

.action-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
