<div class="row justify-content-md-center">
  <div class="col-sm-4 mt-5">
    <h2>Sign Up</h2>
    <span class="text-muted">Please fill in this form to creat an account</span>
    <form #signupForm = "ngForm" (ngSubmit)="onsignUp(signupForm)" >
      <div class="form-group mt-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email">
        <!-- <small id="emailHelpId" class="form-text text-muted">Help text</small> -->
        <label for="password" class="mt-2">Password</label>
        <input type="password" class="form-control" name="password">
        <!-- <small id="emailHelpId" class="form-text text-muted">Help text</small> -->
        <button type="button" class='btn btn-dark mt-3 form-control'>Sign Up</button>
      </div>
    </form>
  </div>
</div>