<!-- <div class="card mb-3" style="width: 18rem;" >
    <img class="card-img-top img-fluid"
    src="{{recipe.imagePath}}"
    alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{recipe.name}}</h5> -->
        <!-- <p class="card-text">{{recipe.description}}</p> -->
        <!-- <a class="btn btn-success" (click)="onSelect()" style="color:white">View recipe</a>
    </div>
</div> -->

<ul class="xop-grid">
    <li routerLinkActive = "active">
      <div class="xop-box xop-img-1"
      [ngStyle] = "{'background-image':'url('+ recipe.imagePath +')'}">
        <a
        routerLink="{{index}}"
        >
        <div class="xop-info">
          <h5>{{recipe.name}}</h5>
          <!-- <p>{{recipe.description}}</p> -->
        </div></a>
      </div>
    </li>
</ul>
